[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
scikit-learn = "*"
sdv = "*"
transformers = "*"
numpy = "*"
hdbscan = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
medspacy = "*"
umap = "*"
faiss-cpu = "*"
umap-learn = "*"
langchain = "*"
langgraph = "*"
streamlit = "*"
pandas = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
